<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Define group</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<h1 style="color: white" th:inline="text">[[${name}]]</h1>
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="eachAnswer" th:if="${splitanswer.get(0)!='null'}">
                <p th:text="${splitanswer.get(0)}"></p><br>
                <p th:text="${splitQuantities.get(0)}"></p>
            </div>
            <div class="eachAnswer" th:if="${splitanswer.get(1)!='null'}">
                <p th:text="${splitanswer.get(1)}"></p><br>
                <p th:text="${splitQuantities.get(1)}"></p>
            </div>
            <div class="eachAnswer" th:if="${splitanswer.get(2)!='null'}">
                <p th:text="${splitanswer.get(2)}"></p><br>
                <p th:text="${splitQuantities.get(2)}"></p>
            </div>
            <div class="eachAnswer" th:if="${splitanswer.get(3)!='null'}">
                <p th:text="${splitanswer.get(3)}"></p><br>
                <p th:text="${splitQuantities.get(3)}"></p>
            </div>
            <div class="eachAnswer" th:if="${splitanswer.get(4)!='null'}">
                <p th:text="${splitanswer.get(4)}"></p><br>
                <p th:text="${splitQuantities.get(4)}"></p>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>

</body>
</html>